.dashboard-header {
	margin-bottom: 2rem;
	overflow: hidden;
}

.dashboard-header__icon {
	float: left;
	height: 32px;
	margin-right: 1.5rem;
	position: relative;
	top: 20%;
	width: 32px;

	&:before {
		color: $color-brand;
		font-size: 32px;
	}
}

.dashboard-header__titles-container {
	display: block;
	float: left;
	width: 80%;
}

.dashboard-header__title {
	@extend .font-weight-normal;

	font-size: 1.25rem;
	margin: 0;
	padding-bottom: 0;
}

.dashboard-header__subtitle {
	@extend .font-weight-light;

	color: $color-brand;
	font-size: 18px;
	font-style: italic;
	margin: 0;
	padding-top: 0;
}

.dashboard-header__logo {
	max-height: 44px;
	max-width: 20%;
}
