@import 'base/variables';

@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/react-select/dist/react-select';
@import '../../../node_modules/react-toastify/dist/ReactToastify';
@import 'vendor/fontawesome/fontawesome';

@import 'base/mixins';
@import 'base/fonts';
@import 'base/typography';
@import 'base/base';

@import 'patterns/atoms/buttons';
@import 'patterns/atoms/inputs';
@import 'patterns/atoms/labels';
@import 'patterns/atoms/status';
@import 'patterns/atoms/loader';

@import 'patterns/molecules/cards';
@import 'patterns/molecules/dashboard-headers';
@import 'patterns/molecules/lists';
@import 'patterns/molecules/tables';
@import 'patterns/molecules/button-group';
@import 'patterns/molecules/multi-select';
@import 'patterns/molecules/toasts';
@import 'patterns/organisms/navbar';
@import 'patterns/organisms/sidebar';

@import 'patterns/pages/sources-preview';
@import 'patterns/pages/update-state';
@import 'patterns/pages/applications';
@import 'patterns/pages/filter';
