.loader {
	@extend .mx-auto;
	@extend .my-3;

	background-image: url("/assets/loaders/loader.gif"), url("/assets/loaders/loader.svg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 2rem;
	width: 2rem;
}
