.loader {
	@extend .mx-auto;
	@extend .my-3;

	background-image: url('/assets/loaders/loader.gif');
	background-repeat: no-repeat;
	background-size: cover;
	height: 2rem;
	width: 2rem;

	.btn & {
		background-image: url('/assets/loaders/loader.svg');
	}

	.btn &--white {
		background-image: url('/assets/loaders/loader-white.svg');
	}

	.btn & {
		@extend .my-0;
		@extend .mr-1;

		display: inline-block;
		height: 0.75rem;
		position: relative;
		top: 1px;
		width: 0.75rem;
	}
}
