.application-logs {
	background-color: #282828;
	color: #fff;
	height: 20em;
	overflow-y: scroll;
}

.application-version {
	@extend .d-none;
}

@media (min-width: 1281px) {
	.application-version {
		display: inline !important;
	}
}
