.filter-input-group {
	position: relative;

	.fas,
	.far {
		position: absolute;
		top: 35%;
		color: $input-color;
		left: 0.75rem;
	}

	.form-control {
		padding-left: 2.25rem;
		height: 2.75rem;
		border-left: 0;
		border-radius: 0;
		border-right: 0;

		&:focus {
			border-color: $input-border-color;
			box-shadow: none;
		}
	}
}
